<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="{{ assets.css }}">
</head>
<body>
  {% block content %}
  {% endblock %}

  <script src="{{ assets.js }}"></script>
</body>
</html>
